<main>

    <nav class=" ">

        {{#if logged_in}}
        <button id="logout" class="logout">Logout</button>
        <script src="/js/logout.js"></script>
        {{else}}
        <button><a href="/login" id="login" class="logout">Login</a></button>
        {{/if}}
    </nav>

    <div class=" ">
        <input id="search-input" type="text" placeholder="Search...">
    </div>
    <div class="mb-4">
        {{#if logged_in}}
        <a href="/create-post" id="create-post" class="">Create Post</a>
        <script src="/js/newPost.js"></script>
        {{/if}}
    </div>
    
    <div class="post-area">
        <div class="">
            <div>
                {{#each posts as |post|}}
                {{> postDetails}}
                {{/each}}
            </div> 
        </div>
    </div>
</main>
</body>